<section class="trend">
  <div class="container">
    <h2 class="trend__title">Categories</h2>
    <div class="add-category" style="margin-bottom: 80px;">
      <label class="submit__label">
        <span class="submit__label-text">Category name</span>
        <input
          class="submit__input input-reset"
          type="text"
          name="category"
          required
        />
      </label>
      <label class="submit__label">
        <span class="submit__label-text">Category URL</span>
        <input
          class="submit__input input-reset"
          type="text"
          name="link"
          required
        />
      </label>
      <br>
      <button class="btn-reset bottom-line" name="add-category">Add new category</button>
    </div>
    <ul class="trend__list list-reset">
      <li class="trend__item">
        <a class="trend__author" href="#">remove category</a>
        <span class="trend__song">Category name</span>
      </li>
    </ul>
  </div>
</section>
