Options -Indexes -MultiViews

RewriteEngine on

# ЧПУ
RewriteRule ^category/([-\w]+)$ clean.php?category=$1 [NC,L]
RewriteRule ^artist/([\w\%\d\s]+)$ clean.php?artist=$1 [NC,L]
RewriteRule ^song/([-\w\%\d\s]+)$ clean.php?song=$1 [NC,L]
RewriteRule ^search/([-\w\%\d\s]+)$ clean.php?search=$1&page=1 [NC,L]
RewriteRule ^search/([-\w\%\d\s]+)/$ clean.php?search=$1&page=1 [NC,L]
RewriteRule ^search/([-\w\%\d\s]+)/([\d]+)$ clean.php?search=$1&page=$2 [NC,L]

# почистить расширение (redirect)
RewriteCond %{THE_REQUEST} [A-Z]{3,7}\s/[^?]+\.html(?:\?|\s|$) [NC]
RewriteRule (.+)\.html$ /$1 [R=301,L,NC]

# вставить html (rewrite)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^([^\.]+)$ $1.html [NC,L]
